<html lang="zh-CN" dropeffect="none" class="js is-AppPromotionBarVisible cssanimations csstransforms csstransitions flexbox no-touchevents no-mobile" style="" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::header"></head>
<body class="zhi ">
<div th:include="common::nav"></div>
<link rel="stylesheet" media="all" href="../styles/letter.css">
<div id="main">
    <div class="zg-wrap zu-main clearfix ">
        <ul class="letter-chatlist">

            <li id="msg-item-4009580">
                <a class="list-head">
                    <img alt="头像" src="${message.user.headUrl}">
                </a>
                <div class="tooltip fade right in">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner letter-chat clearfix">
                        <div class="letter-info">
                            <p class="letter-time">2018 12：:3</p>
                             <a href="javascript:void(0);" id="del-link" name="4009580">删除</a>
                        </div>
                        <p class="chat-content">
                            的接口就赶快的感觉
                        </p>
                    </div>
                </div>
            </li>

        </ul>

    </div>
</div>
<div th:include="common::js"></div>
<script type="text/javascript" src="/scripts/main/site/detail.js"></script>
</body>
</html>