<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>hello</h1>

    <!--<p th:text="${hero}"></p>-->


    <!--<table>-->

        <!--&lt;!&ndash;<tr th:each="one : ${xpp}">&ndash;&gt;-->
            <!--&lt;!&ndash;<td th:text="one"></td>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        <!--<tr th:each="one:${haha}">-->
            <!--<td th:text="${one.user.name}"></td>-->
            <!--<td th:text="${one.name}"></td>-->

        <!--</tr>-->
    <!--</table>-->

    <!--<a href="www.baidu.com" th:text="${hero}"></a>-->

    <table th:each="ql : ${questionsLine}">
        <tr>
            <td th:text="${ql.baba}"></td>
            <td th:text="${ql.question.userId}"></td>
        </tr>
    </table>
</body>
</html>